<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="./logs/nlog_internal.log">

  <targets>
    <!-- ファイル -->
    <target name="logFile"
            xsi:type="File"
            encoding="UTF-8"
            writeBom="true"
            lineEnding="Default"
            layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid}] ${logger} - ${message} ${exception:format=tostring}"
            fileName="./logs/${shortdate}.log"
            archiveFileName="./logs/backup/${shortdate}.log"
            archiveEvery="Month"
            archiveNumbering="Sequence"
            maxArchiveFiles="10" />

    <!-- Console -->
    <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${level:uppercase=true:padding=-5} ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logFile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>